@model IEnumerable<session.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Ten
            </th>
            <th>
                So luong
            </th>
            <th>
                Don gia
            </th>
            <th>
                Thanh tien
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.HangMua.HangHoaId
            </td>
            <td>
                @item.HangMua.TenHangHoa
            </td>
            <td>
                @item.SoLuong
            </td>
            <td>
                @item.HangMua.DonGia
            </td>
            <td>
                @item.ThanhTien
            </td>
            <td>
                <a asp-action="Remove" asp-route-id="@item.HangMua.HangHoaId"> Xoa </a>
            </td>
        </tr>
}
    </tbody>
</table>
