<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Linq</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Linq</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="hanghoa" asp-action="Index">hanghoa</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <ul class="nav navbar-inverse navbar-fixed-top">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Linq</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="hanghoa" asp-action="Index">hanghoa</a>
        </li>
    </ul>

    <partial name="_CookieConsentPartial" />


    <div class="container body-content">
        <div class="row">
            <div class="col-lg-3">
                <!-- loai -->
                @{
                    var db = new eStore20Context();
                    var dsLoai = db.Loai;
                }
                <div class="card bg-secondary">
                    <div class="card-header">Chung Loai</div>
                    <div class="card-body">
                        <div class="list-group">

                            @foreach (Loai lo in dsLoai)
                            {

                                <a class="list-group-item" asp-controller="SanPham" asp-action="DanhSach" asp-route-maloai="@lo.MaLoai">
                                    @lo.TenLoai
                                </a>
                            }

                        </div>
                    </div>
                    @*<div class="card-footer">loai hang hoa</div>*@
                </div>
                <!-- het loai  -->
                <!-- loai -->
                @{
                    var dsNhaCC = db.NhaCungCap;
                }
                <div class="mt-5 card bg-secondary">
                    <div class="card-header">Nha Cung Cap</div>
                    <div class="card-body">
                        <div class="list-group">

                            @foreach (NhaCungCap ncc in dsNhaCC)
                            {

                                <a class="list-group-item" asp-controller="SanPham" asp-action="DanhSach" asp-route-maNcc="@ncc.MaNcc">
                                    @ncc.TenCongTy (@ncc.HangHoa.Count)
                                </a>
                            }

                        </div>
                    </div>
                    @*<div class="card-footer">loai hang hoa</div>*@
                </div>
                <!-- het loai  -->
            </div>
            <div class="col-lg-9"> @RenderBody() </div>
        </div>




        <hr />
        <footer>
            <p>&copy; 2019 - Linq</p>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/js/site.min.js"></script>

    @*<environment include="Development">

            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
